@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

html {
    background-color: #181818;
    background-image: url('./background.svg');
    background-size: cover;
    background-position: center;
}
html,body {
    color: #C5C5C5;
    margin: 0;
    padding: 24px;

    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;

    display: grid;
    place-items: center;
    height: 100%;
    box-sizing: border-box;
}
.content {
    max-width: 519px;
    min-height: 524px;
}

p {
    margin: 4px 0;
}
a {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
}
a img {
    margin-left: 8px;
}

.title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    margin: 48px 0 4px 0;
}

.faq {
    margin: 48px 0;
}
.faq .faq-item button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}
.faq .faq-item button span {
    display: inline-block;
    min-width: 12px;
}
.faq .faq-item.shown button {
    color: #fff;
}

.faq .faq-item p {
    height: 0;
    margin: -10px 0 14px 0;
    opacity: 0;
    pointer-events: none;
    transition: margin-top .2s;
}
.faq .faq-item.shown p {
    height: auto;
    margin: 4px 0 12px 0;
    opacity: 1;
    pointer-events: all;
}